@import "catppuccin.css";

:root
{
	--cat-highlight: var(--cat-rosewater);
	--useless-gap: 8px;
}

html
{
	height: 100%;
}

body
{
	background-color: var(--cat-base);
	min-height: 100%;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.split
{
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.post-view
{
	left: 0;
}

.comment-view
{
	right: 0;
	overflow: scroll;
}

.post-container
{
	text-align: center;
	margin: 0 auto;
	padding: var(--useless-gap);
	border-radius: 4px;
	background-color: var(--cat-mantle);
}

.submitbutton
{
	text-align: center;
	margin-top: var(--useless-gap);
	padding: 5px;
	border-radius: 4px;
	width: 100%;
	background-color: var(--cat-surface1);
	color: var(--cat-highlight);
	border: none;
	cursor: pointer;
}

.comment-wrapper
{
	display: block;
	text-align: left;
	margin-top: var(--useless-gap);
	padding: 5px;
	border-radius: 4px;
	background-color: var(--cat-surface0);
}

.comment-input
{
	border: none;
	width: 100%;
	background-color: rgba(1, 1, 1, 0.0);
	resize: vertical;

	font-size: 13px;
	font-family: "Hack", "Source Code Pro", monospace;
	color: var(--cat-overlay1);
}

.comment-alias-input
{
	display: block;
	border: none;
	background-color: rgba(1, 1, 1, 0.0);

	font-size: 13px;
	font-family: "Hack", "Source Code Pro", monospace;
	color: var(--cat-overlay1);
}

